<div ng-controller="publishController" ng-init="getAllPosts('couchNews')">
	<md-input-container >
      <!-- Use floating label instead of placeholder -->
      <label><i class="search icon"></i>Search</label>
      <input ng-model="searchText" type="text">
    </md-input-container>
	<div ng-repeat="post in publishData.output | filter:searchText ">
 		<div class="col-sm-4">
	 		<div class="card small">
	 			<span class= "text right">
	 				<i class="plus icon activator"></i>
	 			</span>
	 			<br/>
	 			<div class="text center activator waves-effect waves-block waves-light">
	 			<img class="activator img-circle" src="icons/couchbase-logo.png" width="75"></img>
				    <div class="card-content waves-effect waves-block waves-light">
				      <span class="card-title grey-text text-darken-4">{{post.users_publishments.title}}</span>
				      <br/>
				      <br/>
				      <p><strong>{{post.users_publishments.author}}</strong></p>
				      <p>{{post.users_publishments.timeDisp}}</p>
				      <p><a ng-href="{{post.users_publishments.hyperlink}}"><i class="external icon"></i> {{post.users_publishments.title}}</a></p>
				    </div>
				</div>
			    <div class="card-reveal">
	 			  <div class="text-center">
				      <div class="card-title grey-text text-darken-4">{{post.users_publishments.title}} </div>
	 			  </div>
				      <br/>
				      <p>{{post.users_publishments.blurb}}</p>
				 </div>
		    </div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="fixed-action-btn">
			<span class = "btn-floating btn-large red" ng-click="postNews($event)">
	        	<i class="write icon"></i>
	     	<span>
		</div>
	</div>
	
</div>