<md-dialog aria-label="Mango (Fruit)">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Make Post</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="icons/ic_clear_black_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <form name="userForm">
      <div layout layout-sm="column">
        <md-input-container flex>
          <label><i class="newspaper icon"></i> Post Title/Article Title</label>
          <input ng-model="postData.title">
        </md-input-container>
        <md-input-container flex>
          <label><i class="external icon"> </i> Link </label>
          <input ng-model="postData.webpage">
        </md-input-container>
      </div>
      <md-input-container flex>
        <label>Blurb</label>
        <textarea ng-model="postData.blurb" columns="1" md-maxlength="150"></textarea>
      </md-input-container>
    <span flex></span>
    <div>
    <md-button ng-click="cancel()" class="md-primary">
     Cancel
    </md-button>
    <md-button ng-click="publishTry(postData, 'couchNews'); hide();" class="md-primary submit">
      Post
    </md-button>
    </div>
    </form>
  </md-dialog-content>
</md-dialog>