<div ng-controller="statisticsController" ng-init="getGraphData()">
	<style>
	.tc-chart-js-legend {
	  list-style-type: none;
	  padding-left: 0px;
	}
	.tc-chart-js-legend li {
	  display: block;
	  float: left;
	  clear:both;
	  padding:10px;
	}
	.tc-chart-js-legend li span {
	  width:25px;
	  height:25px;
	  display:block;
	  float:left;
	  margin-right:10px;
	}
	</style>

	<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
    	<md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="!loading">
    	<canvas tc-chartjs-line chart-options="options" chart-data="data" auto-legend></canvas>
    </div>

    <md-button class="md-primary md-raised" ng-click="viewData('week')"> Weekly View </md-button>

</div>