<div ng-controller="searchController" ng-init="getAllUsers()">
	<!--<div class="ui divided grid stackable cards">
		<div class = "three column row">
			<div ng-repeat="person in searchData.peopleResults track by $index">
					<div class="ui card">
					  <div class="image">
					    <img ng-src="{{person.users.picSRC}}"></img>
					  </div>
					  <div class="content">
					    <a class="header">{{person.users.stringAttributes.name}}</a>
					    <div class="meta">
					      <span class="date">{{person.users.dropdownAttributes.division}} - {{person.users.dropdownAttributes.baseOffice}}</span>
					    </div>
					    <div class="description">
					      {{person.users.stringAttributes.jobTitle}}
					    </div>
					  </div>
					  <div class="extra content">
					    <a>
					      <i class="inbox icon"></i>
					      {{person.users.login.email}}
					    </a>
					  </div>
					</div>
			</div>
		</div>
	</div>-->
	  <div class="ui fluid icon input">
          <input type="text" placeholder="Search users/attributes..." ng-model="searchTerm" ng-change="intelligentCount(searchTerm)">
	    <i class="search icon"></i>
	  </div>
	<div class="ui segments">
		<div ng-repeat="countResult in intelliCount.output.data track by $index">
			<div class="ui segment">{{countResult.field}} <span class="ui right aligned">{{countResult.count}}</span> </div>
		</div>
	</div>
	<!--<div class="ui thirty-two column grid">
		<div class="column"></div>
		<div class="column">
			<div class="ui left internal attached rail">
			<br/>
		    	<div class="ui segment">
		      		<div class="ui relaxed divided list">
					  <div class="item">
					    <i class="large github middle aligned icon"></i>
					    <div class="content">
					      <a class="header">Semantic-Org/Semantic-UI</a>
					      <div class="description">Updated 10 mins ago</div>
					    </div>
					  </div>
					  <div class="item">
					    <i class="large github middle aligned icon"></i>
					    <div class="content">
					      <a class="header">Semantic-Org/Semantic-UI-Docs</a>
					      <div class="description">Updated 22 mins ago</div>
					    </div>
					  </div>
					  <div class="item">
					    <i class="large github middle aligned icon"></i>
					    <div class="content">
					      <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
					      <div class="description">Updated 34 mins ago</div>
					    </div>
					  </div>
					</div>
		  	</div>
		  </div>
		</div>
	</div>-->
	<!--<table class="ui single line table">
	  <thead>
	    <tr>
	      <th>Image</th>
	      <th>Name</th>
	      <th>E-mail address</th>
	      <th>Division - Location</th>
	      <th>Job Title</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="person in searchData.peopleResults track by $index">
	      <td><img ng-src="{{person.users.picSRC}}" width="80" height="80"></img></td>
	      <td>{{person.users.stringAttributes.name}}</td>
	      <td>{{person.users.login.email}}</td>
	      <td>{{person.users.dropdownAttributes.division}} - {{person.users.dropdownAttributes.baseOffice}}</td>
	      <td>{{person.users.stringAttributes.jobTitle}}</td>
	    </tr>
	  </tbody>
	</table>-->
 <br/>
 	<div class="ui container">
 	<div class="ui cards">
	<div ng-repeat="person in searchData.peopleResults track by $index">
		<div class="card">
		  <div class="image">
		    <img ng-src="{{person.users.picSRC}}">
		    <span class="title">{{person.users.stringAttributes.name}}</span>
		  </div>
		  <div class="content">
		    <p>{{person.users.dropdownAttributes.division}} - {{person.users.dropdownAttributes.baseOffice}}</p>
		    <p><strong>{{person.users.stringAttributes.jobTitle}}</strong></p>
		    <a><i class="inbox icon"></i>{{person.users.login.email}}</a>
		  </div>
		 </div>
	</div>
	</div>
</div>
	
	<!--<div class="ui four cards">
		<div ng-repeat="person in searchData.peopleResults track by $index">
			<div class="ui card">
			  <div class="content">
			  	<a class="header">{{person.users.stringAttributes.name}}</a>
			    <div class="meta">{{person.users.dropdownAttributes.division}} - {{person.users.dropdownAttributes.baseOffice}}
			    </div>
			    <div class="right floated ui mini image">
			    <img  ng-src="{{person.users.picSRC}}">
				</div>
			    <div class="description">
			      {{person.users.stringAttributes.jobTitle}}
			    </div>
			  </div>
			  <div class="extra content">
			    <a>
			      <i class="inbox icon"></i>{{person.users.login.email}}
			    </a>
			  </div>
			</div>
		</div>
		</div>
	</div>-->
</div>
