<html lang="en">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
     <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/components/icon.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/components/grid.min.css"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/components/button.min.css"/>    
    <link href="./ng-cropper/dist/ngCropper.all.css" rel="stylesheet">
    <script src="./ng-cropper/dist/ngCropper.all.js"></script>
    <script src="js/touchbase.js"></script>
    <script src="Chart.js/Chart.min.js"></script>
    <script src="tc-angular-chartjs/dist/tc-angular-chartjs.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <style>
      html, body
      * {
        font-family: "Lato";
      }
      .md-toolbar-tools h1 {
        font-size: inherit;
        font-weight: inherit;
        margin: inherit;
      }
      .inset {
        color: white;
      }
      .fixed-action-button {
          position:fixed; 
          bottom: 12px; 
          right: 12px; 
          z-index:10;
          -webkit-backface-visibility:hidden;
      }
      strong {
        font-weight: bold;
      }
      .active {
        opacity: 0.5;
      }

    </style>
  </head>
  <body layout="column" ng-app="touchbase" ng-controller="AppCtrl">
    <md-toolbar hide-gt-md layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <img src="uploads/touchbaseTextCaps.png" width="150"/>
        <span flex></span>
        <img src="uploads/touchbaseLogo.png" width="31">
      </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav style="background:#C62828" layout="column" class="md-sidenav-left md-whiteframe-z2 md-default-theme" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <header class="nav-header text-center">
            <br/>
            <img src="uploads/touchbaseLogo.png" width="70"alt="">
            <div class="docs-logotype md-heading"><img src="uploads/touchbaseTextCaps.png" width="150"/></div>
        </header>
        <md-content style="background:transparent" flex>
          <md-list md-default-theme>
          <md-divider></md-divider>
            <md-list-item>
              <div ng-click="toggleSidenav('left');" ui-sref="myProfile" ui-sref-active = "active">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                  <div class="inset">
                    <i class="inverted user icon"></i>
                  </div>
                  <div class="inset">My Profile
                  </div>
                </md-item-content>
              </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <div ng-click="toggleSidenav('left');" ui-sref="statistics" ui-sref-active = "active">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                  <div class="inset">
                    <i class="inverted line graph icon"></i>
                  </div>
                  <div class="inset">Statistics
                  </div>
                </md-item-content>
              </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <div ng-click="toggleSidenav('left');" ui-sref="allUsers" ui-sref-active = "active">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                  <div class="inset">
                    <i class="inverted users icon"></i>
                  </div>
                  <div class="inset">All Users
                  </div>
                </md-item-content>
              </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <div ng-click="toggleSidenav('left');" ui-sref="allGit" ui-sref-active = "active">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                  <div class="inset">
                    <i class="inverted github icon"></i>
                  </div>
                  <div class="inset">Github Projects
                  </div>
                </md-item-content>
              </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <div ng-click="toggleSidenav('left');" ui-sref="allNews" ui-sref-active = "active">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                  <div class="inset">
                    <i class="inverted newspaper icon"></i>
                  </div>
                  <div class="inset">Couchbase in the News
                  </div>
                </md-item-content>
              </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <div ng-controller="signOutController" ng-click="signOut()" ui-sref-active = "active">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                  <div class="inset">
                    <i class="inverted sign out icon"></i>
                  </div>
                  <div class="inset">Sign Out
                  </div>
                </md-item-content>
              </div>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>
        </md-content>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
                <div ui-view></div>
            </md-content>
        </div>
    </div>
    </div>
  </body>
</html>